.leftBorder{
    border-left: 1px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-style: solid;
  border-color: white;
}
.heading{
    font-size:x-large;
}
.fieldName{
    font-size: small;
    color: lightgrey;
}
.field{
padding: 7px;
margin-bottom: 14px;
}
.myMainBodyCard
{
    background-color:#E6E6E6;
}
