#app
{
    overflow-x: hidden;
}

.componentCard{
    background-color:#F2F2F2;   
}

.componentHeader{
    background-color:#929397;
    border-radius: 0px;
}

input[type=text]{
    border-radius: 0px;
}

